
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 col-lg-12 clearfix price_content_wrapper">
    <h3>INGEN OPRETTELSE – INGEN BINDING</h3>
    <div class="col-md-7 col-lg-7 price_img_wrapper">
        <img src="~/Content/Pictures/PricePage.jpg" />
    </div>
    <div class="col-md-5 col-lg-5 price_table_wrapper">
        <table>
            <thead>
                <tr>
                    <td><h4>Priser</h4></td>
                </tr>
            </thead>
            <tr>
                <td>PBS Abonnoment pr. mdr.&nbsp;</td>
                <td class="price">&nbsp;279,- </td>
            </tr>
            <tr>
                <td>Pris for studerende pr. mdr.&nbsp;</td>
                <td class="price">&nbsp;239,-</td>
            </tr>

            <tr>
                <td>10 turs kort&nbsp;</td>
                <td class="price">&nbsp;349,-</td>
            </tr>
            <tr>
                <td>Dagspas&nbsp;</td>
                <td class="price">&nbsp;50,-</td>
            </tr>
            <tr>
                <td>
                    1 træningsprogram samt 1 times vejledning<br />
                    af maskiner
                </td>
                <td class="price">&nbsp;250,-</td>
            </tr>
            <tr>
                <td>Medlemskab i bero, min. 1 måned&nbsp;</td>
                <td class="price">&nbsp;79,-</td>
            </tr>
            <tr>
                <td>Bootcamp 12 ugers forløb&nbsp;<s>(Normalpris&nbsp;4495,-)</s></td>
                <td class="price">&nbsp;2995,-</td>

            </tr>
            <tr>
                <td>Personlig træning 1&nbsp;</td>
                <td class="price">&nbsp;500,-</td>
            </tr>
            <tr>
                <td>Personlig træning 2&nbsp;</td>
                <td class="price">&nbsp;1500,-</td>
            </tr>
        </table>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4 bootcamp">
        <table>
            <tr>
                <td>
                    <h4>Bootcamp</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Åbningstilbud 2995,- (mulighed for mdr. betaling) Normalpris 4495,-</p>
                    <p>
                        Her får du virkelig noget for pengene!
                        Har du svært ved at motivere dig selv, er denne Bootcamp en løsning for dig.
                        Her træner vi max 6 pers. pr. hold, hvor der er virkelig tid og fokus på hver enkelt person.
                    </p>
                    <p>
                        2 x om ugen træner vi 1 ½ time pr. gang i 12 uger.
                        Træningen starter med 20 minutters opvarmning.
                        Så vil jeg vise jer hvordan man udføre basic øvelserne korrekte.
                        Derefter vil i 2 og 2 udføre de basic øvelser der er blevet vist.
                        Vi arbejder med hele kroppen!
                        Vi kan dog arbejde med specifikke ønsker f.eks balder, arme, ben...
                    </p>
                    <p>
                        I vil under hele forløbet altid kunne stille spørgsmål. Jeg vil være der 100% for at motivere og guide jer.
                        I samarbejde med Speciellæge Sanne Knutzen vil i få målt jeres vægt, fedt og muskelmasse inden vi starter, under og efter bootcamp forløbet.
                        Jeg kan garantere synlige resultater!
                    </p>
                    <p>Kom ned og meld jer på et hold!</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4 personlig_træning1">
        <table>
            <tr>
                <td>
                    <h4>Personlig Træning 1</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Til dig der vil være sikker på at du får den bedst mulige start.
                        Vil du her have mig til rådighed 2 x 1 time.
                        Så du er helt sikker på at du udføre dit træningsprogram rigtigt og på den måde opnår de bedste resultater.
                    </p>
                    <p>
                        Jeg vil udover altid være behjælpelig med spørgsmål og guidning.
                    </p>
                    <p> - Kig forbi for mere information</p>
                </td>
            </tr>
        </table>
    </div>

    <div class="col-md-4 personlig_træning2">
        <table>
            <tr>
                <td>
                    <h4>Personlig Træning 2</h4>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        Til dig der vil være sikker på at du får den bedst mulige start.
                        Vil du her have mig til rådighed 2 x 1 time.
                        Så du er helt sikker på at du udføre dit træningsprogram rigtigt og på den måde opnår de bedste resultater.
                    </p>
                    <p>
                        Jeg vil udover altid være behjælpelig med spørgsmål og guidning.
                    </p>
                    <p> - Kig forbi for mere information</p>
                </td>
            </tr>
        </table>
    </div>
</div>
