html {
    text-shadow: 0px 4px 6px black;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -100;
}

    #bg img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        min-width: 50%;
        min-height: 50%;
    }

body {
    background-color: #151414;
    color: #E0E0E0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 135px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*front page*/
#myCarousel {
    width: 100%;
    box-shadow: 0px 4px 6px black;
}

    #myCarousel img {
        width: 100%;
        border-radius: 4px;
    }

.frontpage_header {
    font-style: italic;
}


/*footer section*/
.frontpage_footer {
    margin-bottom: 50px;
}

    .frontpage_footer.row {
        margin-right: 0px;
        margin-left: 0px;
    }

.contact, .openinghours, .embedded_map {
    padding: 0px;
}

.fb-like {
    margin-top: 18px;
}

.embedded_map {
    margin-top: 13px;
}

.bemandet {
    margin-top: 26px;
    font-weight: bold;
}

.contact h4, .openinghours h4 {
    font-weight: bold;
}

.contact td {
    padding-bottom: 5px;
}

hr {
    border: 1px solid black;
    margin-bottom: 5px;
    text-shadow: 0px 4px 6px black;
    opacity: 0.4;
}


/*shared layout, nav bar, logo*/
.logo img {
    width: 100px;
    margin-right: 80px;
}

.navbar-inverse {
    background-color: #000000;
    border-color: #2F2F2F;
    opacity: 0.7;
    box-shadow: 0px 4px 6px black;
}

.navbar-nav li {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a {
    margin-right: 60px;
    color: #E0E0E0;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #82AF1A;
    }

li.logo {
    margin-top: 0px;
    padding: 0px;
}


/*calendar section, modal events*/
.month-header {
    text-transform: capitalize;
}

.table-calendar tr {
    border: 1px solid rgba(153, 153, 153, 0.19);
}

/*.table-calendar tr:last-child {
        border-bottom: none;
    }*/

/*.table-calendar thead tr:last-child {
    border-bottom: 1px solid #999999;
}*/

.table-calendar thead td {
    height: 12px;
    text-align: center;
    font-weight: bold;
}

.table-calendar td {
    border: 1px solid rgba(153, 153, 153, 0.19);
    height: 95px;
    width: 160px;
    position: relative;
}

/*.table-calendar td:first-child {
        border-left: none;
    }*/

.table-calendar .date {
    position: absolute;
    top: -4px;
    margin: 2px;
    left: 4px;
    z-index: 500;
}

.modal-dialog {
    margin-top: 150px;
}

.modal-content {
    opacity: 0.9;
    border: 1px solid #191919;
    border-radius: 2px;
}

.modal-header {
    border-bottom: 1px solid black;
    background-color: #637E24;
}

    .modal-header button {
        color: #884146;
        opacity: 1;
        border: 0px outset buttonface;
        text-shadow: none;
    }

.close_btn {
    background-color: #E0E0E0;
    color: black;
    border: 0px outset buttonface;
}

.modal-title {
    color: black;
    text-shadow: none;
}

.modal-body {
    background-color: #191919;
}

.modal-footer {
    margin-top: 0px;
    border-top: none;
    background-color: #191919;
}

.events {
    list-style-type: none;
    padding: 0px 5px;
}

.trigger-button {
    padding: 2px 4px;
    margin-bottom: 2px;
    background-color: #82AF1A;
    border-radius: 4px;
    border: 0px outset buttonface;
    opacity: 0.6;
    width: 100%;
    box-shadow: 0px 4px 6px black;
}


/*news section*/
.news_jumbo_img {
    border-radius: 4px;
    box-shadow: 0px 4px 6px black;
}

.news_jumbo_header {
    padding-left: 15px;
}

.left_news, .center_news {
    margin-right: 124px;
    margin-left: 0px;
}

    .left_news img, .center_news img, .right_news img {
        border-radius: 4px;
        box-shadow: 0px 4px 6px black;
        min-height: 247px;
        min-width: 247px;
        max-height: 247px;
        max-width: 247px;
    }

.left_news, .center_news, .right_news {
    padding: 0px;
}

/*price section*/
.price_content_wrapper {
    padding: 0px;
}

.price_img_wrapper {
    padding: 0px;
}

    .price_img_wrapper img {
        width: 100%;
        padding-right: 0px;
        border-radius: 4px;
    }

.price_table_wrapper {
    padding: 0px;
    padding-left: 10px;
}

    .price_table_wrapper td {
        padding-right: 0px;
        padding-bottom: 13px;
        width: 100%;
    }

    .price_table_wrapper h4 {
        margin-top: 0px;
    }

.price {
    text-align: right;
    /*padding-left: 65px;*/
}
