body {
    background-color: #151414;
    color: #999999;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 146px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.front_page_jumbotron {
    padding: 0px;
    background-color: #151414;
}

    .front_page_jumbotron img {
        border-radius: 4px;
    }

.frontpage_footer {
    margin-bottom: 50px;
}

    .frontpage_footer.row {
        margin-right: -57px;
        margin-left: -14px;
    }

hr {
    border: 1px solid #2F2F2F;
}

.logo img {
    width: 100px;
    margin-right: 118px;
}

.navbar-inverse {
    background-color: #080808;
    border-color: #2F2F2F;
}

.navbar-nav li {
    margin-top: 25px;
    font-size: 18px;
    font-weight: bolder;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #A20C17;
}

.navbar-nav a {
    margin-right: 40px;
}

li.logo {
    margin-top: 0px;
    padding: 0px;
}

.month-header {
    text-transform: capitalize;
}

.table-calendar tr {
    border-bottom: 1px solid #999999;
}

    .table-calendar tr:last-child {
        border-bottom: none;
    }

.table-calendar thead tr:last-child {
    border-bottom: 1px solid #999999;
}

.table-calendar thead td {
    height: 12px;
    text-align: center;
}

.table-calendar td {
    border-left: 1px solid #999999;
    height: 95px;
    width: 160px;
    position: relative;
}

    .table-calendar td:first-child {
        border-left: none;
    }

.table-calendar .date {
    position: absolute;
    top: 0px;
}

.events {
    list-style-type: none;
    padding-left: 5px;
}

.trigger-button {
    padding: 2px 4px;
    background-color: #884146;
    border-radius: 4px;
    border: 0px outset buttonface;
}
/*.trigger-button:focus {
    padding: 2px 4px;
    background-color: #884146;
    border-radius: 4px;
    border: 0px outset buttonface;
}*/
