@model IEnumerable<Gateway.DomainModel.News>
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h3 class="news_jumbo_header">Oprydning efter nedrivning</h3>
    <div class="col-md-5 col-lg-5">
        <img src="~/Content/Pictures/oprydning.jpg" class="img-responsive news_jumbo_img" width="410" height="307">
    </div>
    <div class="col-md-7 col-lg-7">
        <p class="news_jumbo_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a ex hendrerit, tincidunt risus porttitor, imperdiet lacus. Curabitur sem lacus, pulvinar eu vehicula in, dignissim ac lacus. Donec porttitor lobortis erat. Sed lacinia vitae est ut vehicula. Integer sit amet turpis eu enim lacinia tincidunt ut in nisi. Vivamus ultrices consequat magna eu rhoncus. Proin et hendrerit nibh.
            Donec vel tristique tortor, at molestie ante. Pellentesque a risus sit amet enim congue ultrices. Fusce gravida, lectus et tempor mattis, sem ligula hendrerit elit, eget iaculis elit mauris sed sem. Curabitur in elit faucibus, rutrum lorem id, cursus ex. Sed sollicitudin, metus vitae lobortis vulputate, sem nisi ultrices diam, vitae imperdiet lectus diam nec tortor. Vivamus ante leo, semper eget nisi quis, mattis ornare neque. Maecenas nec aliquet ex. Aliquam dignissim pulvinar laoreet. Nunc non augue tempor est ullamcorper dignissim. Aenean non fringilla ante, et tristique ipsum. In lacinia placerat elit, quis facilisis lacus mattis eget. Donec scelerisque non velit id varius. Fusce ullamcorper augue nec quam pellentesque, commodo vehicula ex ullamcorper. Nullam metus enim, venenatis a nibh vel, euismod tempus sem. Aliquam congue magna a semper commodo. Nullam ultricies id orci non volutpat. Nunc blandit sodales nunc. Curabitur nisi ante.
        </p>
    </div>
</div>
<hr />
<div class="container news_container">
    <div class="row">
        @foreach (var news in Model)
            {
            <div class="col-xs-4 col-sm-4 col-md-4 news_thumb_wrapper">
                <div class="caption">
                    <h3>@news.Title</h3>
                </div>
                <div class="thumbnail news_thumbnail">
                    <img src="@news.Picture" alt="@news.Title" class="img-responsive">
                </div>
            </div>
        }
    </div>
</div>
