@model OSG.Models.ViewModel.EventTrainers

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<div class="customer-wrap">
    <div class="row">
        <form method="POST" action="Create">
            <div class="col-xs-6 col-md-6">
                <input type="hidden" name="Id" />
                <input type="datetime" name="date" class="form-control input-lg" />
                <input type="text" name="description" class="form-control input-lg" />
                <input type="text" name="title" class="form-control input-lg" />

                @Html.ListBoxFor(c => c.SelectedIDs, new MultiSelectList(@Model.Trainers, "Id", "FirstName"))
                <button class="btn btn-default" type="submit">Create Event</button>
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
